body {
    background-color: #274029;
}

h2,
p {
    color: #f2e2c4;
}

#frame {
    margin: 70px;
    padding: 70px;
    width: 300px;
    height: 470px;
    background-color: black;
}

#display {
    margin: 40px;
    padding: 50px;
    border-radius: 20px;
    width: 250px;
    height: 440px;
    background-color: #f2e744;
}
