body {
    background-color: #274029;
}

h2,
p {
    color: black;
}

#frame {
    margin: 100px;
    padding: 70px;
    border-radius: 15px;
    width: 250px;
    height: 470px;
    background-color: black;
}

#display {
    margin: 0px;
    padding: 65px;
    border-radius: 20px;
    width: 230px;
    height: 450px;
    background-color: #f2e744;
}

#bar {
    width: 230px;
    height: 100px;
    background-color: black;
}
