<!DOCTYPE html>
<html lang="ko">
    {% load staticfiles %}
    <head>
        <title>로켓트</title>
        <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    </head>

    <body>
        <div id="box1" style="border-style: solid">
            <div id="box2" style="border-style:solid">
                <h2>현재 시각은</h2>
                <p id="date">{{ a.month }}월 {{ a.day }}일 {{ weekday }}요일</p>
                <p id="time">{{ AM }} {{ hour }}시 {{ a.minute }}분 {{ a.second }}초 입니다.</p>
            </div>
        </div>
    </body>
</html>
